
@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.nav-links li {
    margin: 0 1em;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.logo {
    float: left;
    margin-left: 1em;
    font-size: 1.5em;
}

.title-section {
    text-align: center;
    margin: 2em 0;
}

.filters {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.filters select, .filters input {
    margin: 0 0.5em;
    padding: 0.5em;
    font-size: 1em;
}

.games-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1em;
    padding: 1em;
}

.game-card {
    background-color: #fff;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.game-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.game-card h2 {
    margin: 0.5em 0;
    font-size: 1.2em;
}

.game-card p {
    color: #777;
    margin: 0.5em 0 1em;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.actions button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.2em;
}

/* Estilos para a paginação */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a, .pagination li span {
    color: #007bff;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

.pagination li.active span, .pagination li a:hover {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.pagination li.disabled span {
    color: #6c757d;
    pointer-events: none;
}

.pagination li:first-child a, .pagination li:last-child a {
    border-radius: 20px;
}



