
@charset "UTF-8";
body{
    background-color: #ddd;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
#corpo{
    width: 800px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 30px #777;
}
.listagem{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
.listagem tr{
    height: 50px;
}
.listagem td{
    /* border: 1px solid #ddd; */
    padding: 10px;
}
.listagem tr:nth-child(even){
    background-color: #f2f2f2;
}
.listagem td:nth-child(1){
    width: 50px;
}
.listagem td:nth-child(3){
    width: 90px;
}

.detalhes{
    width: 100%;
}
.detalhes td{
    padding: 10px;
    vertical-align: top;
}

.mini{
    width: 50px;
}
.full{
    height: 400px;
}
footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
header{
    font-size: 10px;
    text-align: right;
}
#busca{
    font-size: 10px;
    text-align: right;
}

.msg{
    padding: 7px 15px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.sucesso{
    background-color: rgb(226,239,218);
    color: rgb(74,116,67);
}

.aviso{
    background-color: rgb(251,248,229);
    color: rgb(134,110,66);
}
.erro{

    background-color: rgb(239,223,222);
    color: rgb(157,75,69);
}
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}
.pequeno{
    font-size:  8pt;
    text-align: right;
}




/* Estilos para a paginação */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a, .pagination li span {
    color: #007bff;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

.pagination li.active span, .pagination li a:hover {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.pagination li.disabled span {
    color: #6c757d;
    pointer-events: none;
}

.pagination li:first-child a, .pagination li:last-child a {
    border-radius: 20px;
}



